SECRET_KEY="replace_me_with_random_string"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES="1440"
USE_SQLITE="True"
DATABASE_URL="postgresql://user:password@localhost:5432/aasra"
SQLITE_URL="sqlite:///./aasra.db"
